<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@texastribune">
<meta name="twitter:creator" content="{{ data.universities.META.twitter_creator or '@texastribune' }}">
<meta property="og:url" content="{{ data.PATH_FULL }}">
<meta property="og:title" content="{{ data.universities.META.title or 'The Texas Tribune' }}">
<meta property="og:type" content="article">
<meta property="article:publisher" content="https://www.facebook.com/texastribune">
<meta property="article:published_time" content="2016-01-12">
<meta property="og:description" content="{{ data.universities.META.facebook_description }}">
<meta property="og:site_name" content="The Texas Tribune">
<meta property="og:image" content="{{ data.universities.META.facebook_image_url }}">
<meta property="fb:app_id" content="154122474650943">
